.article {
  flex: 0 1 25%; }
  .article .media-content {
    overflow: unset; }
  .article figure {
    overflow: hidden; }
  .article object {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%; }
  .article .title {
    padding-bottom: 10px; }
    .article .title a {
      font-weight: 400;
      font-style: normal;
      color: black; }
    .article .title a:hover {
      background-color: cornsilk; }
  .article .card-footer {
    display: flex;
    border: none;
    flex-direction: row; }
    .article .card-footer .source-info {
      display: flex;
      flex-direction: row;
      flex: 1; }
    .article .card-footer .info-label {
      margin-left: 6px;
      align-self: flex-end; }
