@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/derived-variables";
@import "bulma/sass/utilities/mixins";
.articles-container {
    display: flex;
    flex-flow: row wrap;
    .progress-container {
        display: block;
        width: 100%;
        min-height: 100%;
    }
    .is-loading {
        position: relative;
        pointer-events: none;
        opacity: 1;
        &:after {
            @include loader;
            position: absolute;
            top: 120px;
            left: calc(50% - 2.5em);
            width: 5em;
            height: 5em;
            border-width: 0.25em;
        }
    }
}

/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 480px) {
    .article {
        flex-basis: 100%;
    }
    .category-title {
        display: none;
    }
}


/* Smartphones (landscape)  and  Tablets (portrait) ----------- */

@media only screen and (min-width: 520px) and (max-width: 1000px) {
    .article {
        flex-basis: 50%;
    }
    .category-title {
        display: none;
    }
}


/* Tablets (landscape) ----------- */

@media only screen and (min-width: 1024px) {
    .article {
        flex-basis: 33.33%;
    }
}


/* Large screens ----------- */

@media only screen and (min-width: 1824px) {
    .article {
        flex-basis: 20%;
    }
}