.articles-container {
  display: flex;
  flex-flow: row wrap; }
  .articles-container .progress-container {
    display: block;
    width: 100%;
    min-height: 100%; }
  .articles-container .is-loading {
    position: relative;
    pointer-events: none;
    opacity: 1; }
    .articles-container .is-loading:after {
      animation: spinAround 500ms infinite linear;
      border: 2px solid #dbdbdb;
      border-radius: 290486px;
      border-right-color: transparent;
      border-top-color: transparent;
      content: "";
      display: block;
      height: 1em;
      position: relative;
      width: 1em;
      position: absolute;
      top: 120px;
      left: calc(50% - 2.5em);
      width: 5em;
      height: 5em;
      border-width: 0.25em; }

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 480px) {
  .article {
    flex-basis: 100%; }
  .category-title {
    display: none; } }

/* Smartphones (landscape)  and  Tablets (portrait) ----------- */
@media only screen and (min-width: 520px) and (max-width: 1000px) {
  .article {
    flex-basis: 50%; }
  .category-title {
    display: none; } }

/* Tablets (landscape) ----------- */
@media only screen and (min-width: 1024px) {
  .article {
    flex-basis: 33.33%; } }

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  .article {
    flex-basis: 20%; } }
