.sidebar {
  width: 245px;
  background-color: white;
  position: fixed;
  top: 45px;
  height: 100%;
  left: -400px;
  z-index: 50;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  transition: 0.5s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .sidebar-expanded {
    left: 0; }
  .sidebar .menu-list {
    padding-bottom: 40px; }
    .sidebar .menu-list a {
      border-radius: 0; }
      .sidebar .menu-list a.is-active {
        color: white; }

/* Smartphones (portrait) ----------- */
@media only screen and (max-height: 480px) {
  .sidebar {
    top: 6px; }
  .category-title {
    display: none; } }
